@import 'reset.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a::before,
a::after,
a:visited {
  color: inherit;
  text-decoration: none;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 1.1;
}

#app {
  color: #f8f8f8;
  background: #151414;
  padding: 1rem;

  display: flex;
  justify-content: center;
}

#app, button {
  font-size: 1.25rem;
}
